.ubicacion{
  display: flex;
  justify-content:space-evenly;
  align-content: center;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  padding: 20px;
}

.ubicacion h2{
  display: block;
}

iframe{
  min-height: 350px;
}

.texto-ubicacion{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-content:space-between;
  text-align: center;
}

.titulo-seccion{
  text-align: center;
}

.container-bus{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 200px;
  max-width: 200px;
  column-gap: 20px;
}

.container-Pinterest{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  min-width: 300px;
  column-gap: 20px;
}

.container-bus img{
  object-fit:contain;
  width: 100%;
}


.info-combi{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  align-content:center;
  min-width: 60%;
}

.info-combi__texto{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  /*max-width: 400px;*/
}